.au-c-main-footer {
  display: flex;
  flex-wrap: wrap;
  gap: $au-unit;

  & > .au-c-main-footer__brand {
    padding: 0;
  }

  & .au-c-brand {
    display: flex;
  }

  & > .au-c-main-footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $au-unit;
    flex-grow: 1;
    padding-top: $au-unit-tiny * 0.3;
  }
}
