{{page-title
  (concat
    "Hackathon 2024"
    (if this.showEnvironment (concat " - " this.environmentName))
  )
}}

<AuModalContainer />
<AuToaster />

<AuApp>
  <AppHeader />
  <main id="main" class="au-c-main-container">
    <div
      class="au-c-main-container__content au-c-main-container__content--scroll au-u-flex au-u-flex--column"
      id="content"
      tabindex="-1"
    >
      {{outlet}}
    </div>
  </main>
</AuApp>