<AuMainFooter>
  <AuContent @skin="tiny">
    <AuHeading @level="2" @skin="6">
      Hackathon van de Vlaamse overheid
    </AuHeading>
    <p class="au-u-margin-top-none">Uitgegeven door
      <a
        class="au-c-link"
        href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur"
      >Agentschap Binnenlands Bestuur</a>
    </p>
  </AuContent>
  <AuContent @skin="tiny">
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="disclaimer" @skin="secondary">Disclaimer</AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="cookie-notice"
          @skin="secondary"
        >Cookieverklaring</AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        <AuLink
          @route="accessibility-statement"
          @skin="secondary"
        >Toegankelijkheidsverklaring</AuLink>
      </li>
    </ul>
  </AuContent>
</AuMainFooter>